<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Ninjas For Ninjas</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>

<div>
  <h3>T覺klama Say覺s覺: <%= clickCount %></h3>
  <form action="/increment" method="POST">
    <button type="submit">T覺kla</button>
  </form>
</div>

<%- include('partials/footer'); -%>